[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
pyright = "*"
pylint = "*"
pyppeteer = "*"
pyppeteer-stealth = "*"
duckduckgo-search = "*"
nltk = "*"
pandas = "*"
scikit-learn = "*"
pydantic = "*"
streamlit = "*"
numpy = "*"
tokenizers = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
download = "python src/main.py"
